[submodule "submodules/channel-rasterization/third_party/glm"]
	path = submodules/channel-rasterization/third_party/glm
	url = https://github.com/g-truc/glm/
[submodule "submodules/rgbd-rasterization/third_party/glm"]
	path = submodules/rgbd-rasterization/third_party/glm
	url = https://github.com/g-truc/glm/