tensorflow[and-cuda]==2.14.0
timm==0.6.13
scipy==1.11.4
omegaconf
imageio==2.31.4
scikit-image==0.22.0
opencv-python
ninja
viser==0.1.17
pytorch-lightning==2.2.4
git+https://github.com/zhanghang1989/PyTorch-Encoding/
git+https://github.com/openai/CLIP.git
git+https://github.com/facebookresearch/detectron2.git
submodules/rgbd-rasterization
submodules/channel-rasterization
submodules/simple-knn
submodules/segment-anything